.project {
  align-items: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  margin: 15px 5px;
  padding: 7px;
  width: 300px;

  &.light {
    border: solid #111111;
    color: #111111;
  }
  &.night {
    border: solid whitesmoke;
    color: whitesmoke;
  }

  .project__name {
    font-weight: bold;
  }
}