.todo-list {
  display: flex;
  flex-flow: row;
}

.todo-list-tasks {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 10px;
  width: 70vw;
}

.todo-list__add-task {
  align-items: center;
  background-color: inherit;
  display: flex;
  flex-flow: column;
  height: inherit;
  width: 30vw;
}